<%page expression_filter="h"/>
<%inherit file="//layout/base.html" />

<%block name="title">GraphLens - Configuration</%block>

<%block name="css">
<link rel="stylesheet" type="text/css" href="/static/app/graphlens/build/pages/ConfigurationPage/App.css" />
</%block>

<%block name="content">
<div id="graphlens-configuration-root" role="main" aria-label="GraphLens configuration"></div>
</%block>

<%block name="js">
<script type="text/javascript" src="/static/app/graphlens/build/pages/ConfigurationPage/App.js"></script>
</%block>
